/* Estilização da seção hero */
.hero-section {
  display: flex;
  align-items: center;
}

/* titulo e infos */  
.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;
}
  
.hero-text .title {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  line-height: 1.3;
  margin: 0px;
  padding-left: 8rem;
  max-width: 540px;
  color: black;
}

.hero-text {
  color: #ffa500;
}
  
.hero-text .subtitle {
  font-size: 14px;
  max-width: 500px;
  padding-left: 8rem;
  color: #404040;
}

/* Movimento dos icones de banana e maçã*/
.icon-container{
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  width: 100px;
  height: 60px;
  margin: 0 7px;
  vertical-align: middle;
}

.banana{
  background-color: #FFEDD0;
}

.apple{
  align-items: flex-start;
  justify-content: center;
  background-color: #FFD0D0;
}

.icon-banana{
  animation: go-back-x 1s infinite alternate;
}

.icon-maca{
  animation: go-back-y 1s infinite alternate;
}

.icon-banana, .icon-maca{
  height: 40px;
}
  
@keyframes go-back-x {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes go-back-y {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

/*imagens das comidas*/
.food-images{
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  /*position: relative;*/
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.food-image1{
  max-height: 500px;
}

.food-image2{
  max-height: 400px;
}

.food-image3{
  max-height:300px;
}

/* conteudo dos restaurantes */
.restaurants-section{
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
}

.title-restaurant {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1107px) {
  .hero-section {
    flex-direction:column;
  }

  .hero-text {
    width: 100%;
    padding-top: 20px;
    align-items: center;
  }

  .hero-text .title {
    padding: 0;
    width: 520px;
  }

  .hero-text .subtitle {
    padding: 0;
  }

  .food-images{
    display: none;
  }
}

@media (max-width: 700px) {
  .hero-text  {
    padding: 0;
  }

  .hero-text .title {
    font-size: 26px;
    width: 400px;
  }

  .hero-text .subtitle {
    font-size: 10px;
    width: 400px;
  }

  .icon-banana, .icon-maca{ 
    height: 26px;
  }

  .icon-container {
    width: 65px;
    height: 36px;
  }

  @keyframes go-back-x {
    from {
      transform: translateX(35px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes go-back-y {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0);
    }
  }

  .title-restaurant{
    font-size: 16px;
  }

  .restaurants-section{
    padding: 2rem 8rem;
  }
}

@media (max-width: 550px) {
  .hero-text  {
    padding: 0;
  }

  .hero-text .title {
    font-size: 22px;
    width: 275px;
  }

  .hero-text .subtitle {
    width: 275px;
    font-size: 9px;
  }

  .icon-banana, .icon-maca{ 
    height: 20px;
  }

  .icon-container {
    width: 50px;
    height: 26px;
  }

  @keyframes go-back-x {
    from {
      transform: translateX(25px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes go-back-y {
    from {
      transform: translateY(5px);
    }
    to {
      transform: translateY(0);
    }
  }

  .title-restaurant{
    font-size: 14px;
  }

  .restaurants-section{
    align-items: center;
  }
}


