/* Estilização da seção hero */
.hero-section {
  display: flex;
  align-items: center;
}

/* titulo e infos */  
.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;
}
  
.hero-text .title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 1.3;
  margin: 0px;
  padding-left: 8rem;
  max-width: 540px;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 50px;
  text-align: center;
}

.icon{ 
  height: 46px;
}
  
.hero-text .orange-text {
  color: #ffa500;
}
  
.hero-text .subtitle {
  font-size: 12px;
  max-width: 500px;
  padding-left: 8rem;
}

/*imagens das comidas*/
.food-images{
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
    /*position: relative;*/
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.food-image1{
  max-height: 500px;
}

.food-image2{
  max-height: 400px;
}

.food-image3{
  max-height:300px;
}

@media (max-width: 1107px) {
  .hero-section {
    flex-direction:column;
  }

  .hero-text {
    width: 100%;
    padding-top: 20px;
    align-items: center;
  }

  .hero-text .title {
    padding: 0;
    width: 520px;
  }

  .hero-text .subtitle {
    padding: 0;
  }

  .food-images{
    display: none;
  }
}

@media (max-width: 660px) {
  .hero-text .title {
    font-size: 26px;
    width: 400px;
  }

  .hero-text .subtitle {
    font-size: 10px;
    width: 400px;
  }

  .icon{ 
    height: 36px;
  }

  .icon-container {
    width: 80px;
    height: 36px;
  }
}

@media (max-width: 560px) {
  .hero-text .title {
    font-size: 18px;
    width: 250px;
  }

  .hero-text .subtitle {
    width: 250px;
    font-size: 8px;
  }

  .icon{ 
    height: 26px;
  }

  .icon-container {
    width: 60px;
    height: 26px;
  }
}