.login-message {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    padding: 10px 0 30px 0;
    text-decoration: none;
  }
  
  .login-message a {
      text-decoration: none; 
      color:#000000;
  }
    
  /* */
