.containerHeader{
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
    align-items: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.restaurantImage img{
    width: 300px;
}

.restaurantDescription{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.restaurantInfo{
    display: flex;
    justify-content: space-between;
}

.titleRestaurant{
    font-size: 22px;
    margin:0px;
}

.containerInfo{
    border-right: 1px solid hsl(0, 0%, 50%);
    padding-right: 40px;
}

/* gambiarra tirar dps*/
.containerInfo p, .containerInfo2 p{
    margin: 0px;
}

.containerOffers{
    padding: 15px;
    border-radius: 8px;
    border: 2px dashed #ffa500;
}

.orange-text, .fa-tag{
    color: #ffa500;
}

.offers {
    font-size: 18px;
    margin: 0;
}

/*barra de pesquisa */

.options-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 400px;
    right: 460px;   
}

.search-container {
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}

.fa-search{
    color: #808080;
}
  
.search-input {
    border: none;
    font-size: 12px;
    padding: 0px 10px;
    color: #808080;
    outline: none;
}
  
/* botão de favoritar */
.favorite-container{
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.favorite-button {
    color: #404040;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    padding: 4px;
    background-color: transparent;
}

.containerMenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 8rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.menuFoods{
    text-align: end;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style: none;
    padding: 0px;
}

ul li{
    list-style: none;
}

.list-dishes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dishDetails{
    font-family: 'Inter', sans-serif;
}

.dishName{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.dishPrice{
    font-family: 'Poppins', sans-serif;
}

.dishDescription{
    color:#808080;
}

.add-button{
    border: none;
    color: #1AC84B;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.portionDishes{
    max-width: 600px;
    border-left: 2px solid #bababa;
    padding-left: 60px;
}

.containerCart{
    width: 280px;
}

.titleCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart{
    font-size: 18px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-details p{
    margin: 0;
}

.item-details{
    padding: 8px 0;
}

.op-button{
    display: flex;
    gap: 10px;
}

.subTotalTitle{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.subTotalTitle p{
    margin: 0;
}

.gray-text{
    color: #808080;
    font-size: 12px;
}

.checkout_btn{
    width: 100%;
    background-color: #FC8019;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

@media (max-width: 1200px) {
    
    .containerHeader{
        padding: 2rem 4rem;
    }

    .restaurantImage img{
        width: 280px;
    }

    .options-container {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 385px;
        right: 400px;   
    }
    
}

@media (max-width: 1000px){
    .containerMenu{
        padding: 2rem 6rem;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    
    .containerHeader{
        flex-direction: column;
        padding: 2rem 6rem;
    }
}