.restaurant-card {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 350px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
  
.restaurant-image {
    max-width: 100%;
    height: auto;
}
  
.restaurant-name {
    font-size: 20px;
    margin: 10px 0;
}
  
.restaurant-cuisine, .restaurant-ratings {
    font-size: 16px;
    color: #777;
    margin: 0px;
}

.restaurant-info {
    display: flex;
    justify-content: space-between;
}
  
.restaurant-delivery-time {
    font-size: 16px;
    color: #777;
    text-align: center;
}
  